
body {
  background-color: #ebebeb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*======================================
            Login Page / Admin
==================rder-sborder-spacing: 0;
.header h1 {
  margin: 0;
}

.footer {
  padding: 10px 10px;
  color: #fff;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.58);
  border: 1px solid #ee6e73;
  border-radius: 10px;
  position: relative;
  margin-top: 14.5%;
  left: 30%;
  width: 40%;
  z-index: 1;
}

.btn.lgn {
  width: 100%;
  background-color: rgb(93, 64, 55);
}

/*==========================================
---------------Menu------------------------
============================================*/

@media only screen and (max-width: 469px) {
  .brand-logo.center {
    font-size: 24px;
  }
}

@media only screen and (max-width: 382px) {
  .brand-logo.center {
    font-size: 18px;
  }
}

.borderNoShad {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-right: 1px solid black;
}

.side-nav li > a:hover {
  background-color: rgba(#ee6e73, 0.54);
  color: #000;
}

nav {
  position: fixed;
  z-index: 999 !important;
  height: 49px;
}

.nav-wrapper {
  height: 49px !important;
  border-bottom: 1px solid black;
}

.page-footer.a {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.workspace {
  padding: 10px 30px;
  position: static;
  margin-top: 61px;
  margin-left: 200px;
  height: 100%;
  /*border: 1px solid black;*/
  width: calc(100% - 200px);
}

a.brand-logo.center {
  height: 100%;
}

.mainCnt {
  /* border: .5px solid black; */
  margin-bottom: 25px;
  box-shadow: 0px 0px 1px #666; 
  border-radius: 3px;
}


/* Screen with the size of 992px */

@media only screen and (max-width: 992px) {
  .page-footer.a {
    margin: 0;
    width: 100%;
  }
  .workspace {
    width: 100%;
    margin-left: 0;
  }
  }
  .side-nav {
    height: 100%;
  }
  #logo {
    margin-left: 2%;
  }
}

@media only screen and (max-width: 728px) {
  div.row.col.s12.pt1 .input-field.col.s4 {
    width: 100%;
  }
  div.row.col.s12.pt2 .input-field.col {
    width: 100%;
  }
}

.bookingTable {
  border-collapse: collapse;
}
.bookingTable thead tr {
  background: #b2dfdb;
  border-spacing: 0;
}

.bookingTable tbody tr td:nth-child(1) {
  background: #b2dfdb;
}

.bookingTable tbody tr {
  padding: 0;
}