html {
  font-family: 'Cairo', sans-serif;
}

body {
  background-color: #ebebeb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*=======================
--------Login Page-------
 =======================*/
/* .header h1 {
  margin: 0;
}

.footer {
  padding: 10px 10px;
  color: #fff;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
} */
.login-box {
  box-shadow: 0px 0px 1px #000;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
  width: 100%;
  margin: auto;
  z-index: 1;
}

.login-space {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 40%;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn.lgn {
  width: 100%;
  background-color: rgb(93, 64, 55);
}

/*==========================================
---------------Menu------------------------
============================================*/
@media only screen and (max-width: 469px) {
  .brand-logo.center {
    font-size: 24px;
  }
}

@media only screen and (max-width: 382px) {
  .brand-logo.center {
    font-size: 18px;
  }
}

.borderNoShad {
  box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 0px 0px 1px black;
}

.side-nav li>a:hover {
  background-color: rgba(#ee6e73, 0.54);
  color: #000;
}

nav {
  position: fixed;
  z-index: 999 !important;
  height: 49px;
}

.nav-wrapper {
  height: 49px !important;
  box-shadow: 0px 0px 0.5px #000;
}

.page-footer.a {
  margin-right: 250px;
  width: calc(100% - 250px);
}

.workspace {
  padding: 10px 30px;
  position: static;
  margin-top: 61px;
  margin-right: 250px;
  height: 100%;
  /*border: 1px solid black;*/
  width: calc(100% - 250px);
}

a.brand-logo.center {
  height: 100%;
}

.mainCnt {
  /* border: .5px solid black; */
  margin-bottom: 25px;
  box-shadow: 0px 0px 1px #666;
  border-radius: 3px;
}

/* Screen with the size of 992px */
@media only screen and (max-width: 992px) {
  .page-footer.a {
    margin: 0;
    width: 100%;
  }

  .workspace {
    width: 100%;
    margin-right: 0;
  }
}

.side-nav {
  height: 100%;
}

#logo {
  margin-left: 2%;
}
}

@media only screen and (max-width: 728px) {
  div.row.col.s12.pt1 .input-field.col.s4 {
    width: 100%;
  }

  div.row.col.s12.pt2 .input-field.col {
    width: 100%;
  }
}

.bookingTable {
  border-collapse: collapse;
}

.bookingTable thead tr {
  background: #b2dfdb;
  border-spacing: 0;
}

.bookingTable tbody tr td:nth-child(1) {
  background: #b2dfdb;
}

.bookingTable tbody tr {
  padding: 0;
}

.customSearch {
  margin: 0 !important;
}

.hidden {
  visibility: hidden;
}

.langSwitch {
  margin-left: 7px;
  font-size: 1rem;
}